@media screen and (max-width: 930px) and (orientation: landscape){
    #outline{
        margin: 0.25rem;
        padding: 0.25rem;
        max-width: 95vw;
        height: 97vh;
        align-items: space-around;

        header{
            display: none;
            order: 2;
            align-self: center;
            padding-right: 1.75rem;
            padding-bottom: 2rem;
        }
    }

    main{
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: space-between;

        .screen{
            margin: 1.5rem;
            width: 90%;
            justify-content: flex-end;
        }

        .buttons{
            margin-top: -0.0125rem;
            gap: 0.1rem;
        }

        .button{
            transform: scale(0.9);
        }
    }
}