@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-primary: "Barlow", monospace;

//Light
$colour-background: rgb(255 221 94);

$colour-button-main: rgb(255 217 86);
$colour-button-symbol: rgb(0, 43, 128);
$colour-button-ac: crimson;
$colour-button-equals: green;

$colour-button-text-dark: rgb(73 70 61);
$colour-button-text-light: white;

$colour-screen: rgb(255 250 236);
$colour-screen-text: rgb(28 28 29);

$colour-border: rgb(219, 195, 159);
$colour-shadow: rgb(100, 95, 88);