@use "./variables" as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#outline{
    width: 95vw;
    max-width: 22.5rem;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 2.5%;
    left: 2.5%;

    background-color: $colour-background;
    border: 0.25rem outset $colour-border;
    border-radius: 2rem;

    font-family: $font-primary;
}

@import "./header";
@import "./screen";
@import "./button-layout";
@import "./button-style";