@use "./variables" as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}

.outline{
    margin: 2rem;
    width: 95vw;
    max-width: 22.5rem;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $colour-background;
    border: 0.25rem outset $colour-border;
    box-shadow: 0rem 0rem 0.5rem $colour-shadow;
    border-radius: 2rem;

    font-family: $font-primary;
}

@import "./landscape";
@import "./header";
@import "./screen";
@import "./button-layout";
@import "./button-style";